h1 {
  color: red;
  font-size: 64px;
  font-family: "Comforter Brush", cursive;
}
.root {
  /* background by SVGBackgrounds.com */
  background-color: #ffc6aa;
  background-image: url("./subtle-prism.svg");
  background-attachment: fixed;
  overflow: auto;
  display: flex;
  height: 100vh;
}

img {
  border-radius: 5px;
}
